{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
{{account.name}} -
{% endblock head_title %}

{% block content %}

{% load crispy_forms_tags %}

{% if request.user.is_authenticated %}

<!-- HEADER -->

<div class="py-5 my-5">
    <div class="d-flex justify-content-between align-items-center">
        <p class="text-center display-4 fw-bold">{{account.name}}
        </p>
        <p class="text-end fs-1">
            ${{account.amount|floatformat:2|intcomma}}</p>
    </div>
    <hr>
    <p class=" ">{{account.description}}</p>
    <div class="col-lg-4 mx-auto">
        <form action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="d-grid">
                <button class="btn btn-lg btn-dark" type="submit">Update</button>
            </div>
        </form>
    </div>

</div>


<!-- FOOTER -->


{% endif %}

{% endblock content %}